# deleting rows and Columns

In [1]:
import pandas as pd
df = pd.read_csv('/content/survey_results_public.csv')
schema_df = pd.read_csv('/content/survey_results_schema.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/survey_results_public.csv'

In [79]:
people = {
    'first' : ['Corey','Jane','John'],
    'last' : ['Schafer','Doe','Doe'],
    'email' : ['CoreySchafer@gmail.com','JaneDoe@gmail.com','JohnDoe@gmail.com'],
}

people_df = pd.DataFrame(people)

In [81]:
people_df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [83]:
people_df['first'] + ' ' + people_df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [84]:
people_df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [85]:
#just like a dictionary
#if the key is not present it creates a new set of key value
people_df['full_name'] = people_df['first'] + ' ' + people_df['last']

In [86]:
people_df

   first     last                   email      full_name
0  Corey  Schafer  CoreySchafer@gmail.com  Corey Schafer
1   Jane      Doe       JaneDoe@gmail.com       Jane Doe
2   John      Doe       JohnDoe@gmail.com       John Doe

In [89]:
#removing coluumns in our dataFRAME
# people_df.drop(columns = ['first','last'])
people_df.drop(columns = ['first','last'], inplace = True)

In [90]:
people_df

                    email      full_name
0  CoreySchafer@gmail.com  Corey Schafer
1       JaneDoe@gmail.com       Jane Doe
2       JohnDoe@gmail.com       John Doe

In [92]:
#reversing - split the full name into first and last
people_df['full_name'].str.split(' ',expand = True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [93]:
people_df[['first','last']] = people_df['full_name'].str.split(' ',expand = True)

In [94]:
people_df

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1       JaneDoe@gmail.com       Jane Doe   Jane      Doe
2       JohnDoe@gmail.com       John Doe   John      Doe

**Add removing ROWS**

In [95]:
#adding a single row of data using the append method
people_df.append({'first' : 'Conor'}, ignore_index = True)

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1       JaneDoe@gmail.com       Jane Doe   Jane      Doe
2       JohnDoe@gmail.com       John Doe   John      Doe
3                     NaN            NaN  Conor      NaN

In [96]:
people_df

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1       JaneDoe@gmail.com       Jane Doe   Jane      Doe
2       JohnDoe@gmail.com       John Doe   John      Doe

In [97]:
#adding a dataFrame to our existing DataFrame
people2 = {
    'first' : ['Tony','Thor'],
    'last' : ['Stark','OdinSon'],
    'email' : ['TonyStark@avenger.com','ODINSON_loki@avenger.com'],
}

people_df2 = pd.DataFrame(people2)

In [98]:
people_df2

  first     last                     email
0  Tony    Stark     TonyStark@avenger.com
1  Thor  OdinSon  ODINSON_loki@avenger.com

In [100]:
people_df.append(people_df2,ignore_index = True)

                      email      full_name  first     last
0    CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1         JaneDoe@gmail.com       Jane Doe   Jane      Doe
2         JohnDoe@gmail.com       John Doe   John      Doe
3     TonyStark@avenger.com            NaN   Tony    Stark
4  ODINSON_loki@avenger.com            NaN   Thor  OdinSon

In [101]:
people_df = people_df.append(people_df2,ignore_index = True)

In [102]:
people_df

                      email      full_name  first     last
0    CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1         JaneDoe@gmail.com       Jane Doe   Jane      Doe
2         JohnDoe@gmail.com       John Doe   John      Doe
3     TonyStark@avenger.com            NaN   Tony    Stark
4  ODINSON_loki@avenger.com            NaN   Thor  OdinSon

In [104]:
#removing Rows
#specify the indexes of rows we want to drop
# people_df.drop(index = 4)
people_df.drop(index = 4, inplace = True)

In [105]:
people_df

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
1       JaneDoe@gmail.com       Jane Doe   Jane      Doe
2       JohnDoe@gmail.com       John Doe   John      Doe
3   TonyStark@avenger.com            NaN   Tony    Stark

In [109]:
#dropping rows using a conditional
filt = (people_df['last'] == 'Doe')
people_df.drop(index = people_df[filt].index)

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
3   TonyStark@avenger.com            NaN   Tony    Stark

In [111]:
people_df = people_df.drop(index = people_df[filt].index)

In [112]:
people_df

                    email      full_name  first     last
0  CoreySchafer@gmail.com  Corey Schafer  Corey  Schafer
3   TonyStark@avenger.com            NaN   Tony    Stark